In [2]:
import pandas as pd
import numpy as np

In [1]:
! git clone https://github.com/MansurCompAI/Practicum_Datasets.git

Cloning into 'Practicum_Datasets'...

# Ma'lumotlarni (data15, data16, data17, data18, data19) o'zgaruvchilariga biriktirib o'qib oling

In [124]:
years = [2015, 2016, 2017, 2018, 2019]

data15, data16, data17, data18, data19 = [pd.read_csv(f"C:/Users/EcoRestart/Desktop/ds-practicum/Practicum_Datasets/Happiness/{year}.csv") for year in years]

# Irarxik indeks: 2015 va 2016 yillarga tegishli ma'lumotlar to'plamlarini Region va Country ustunlarini irarxik ustun ko'rinishiga keltiring va ularning indekslarini tekshiring.

In [125]:
data15_mod = data15.set_index(['Region', 'Country'])
data16_mod = data16.set_index(['Region', 'Country'])

# Vazifa: Yuqorida ajratib olingan ma'lumotlar to'plamidan Western Europe hududiga kiruvchi mamlakatlarning har ikkala yillar uchun ma'lumotlarini ajratib oling.

In [126]:
we_data15 = data15_mod.loc['Western Europe']
we_data15.head()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
Country,,,,,,,,,,
Switzerland,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
Iceland,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
Denmark,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
Norway,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
Finland,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955

In [127]:
we_data16 = data16_mod.loc['Western Europe']
we_data16.head()

,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
Country,,,,,,,,,,,
Denmark,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
Switzerland,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
Iceland,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
Norway,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
Finland,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

<!-- Barcha ma'lumotlar to'plamini kuzatgan bo'lsangiz, ba'zilarining ustunlari o'zgarib kelmoqda. Lekin bu bizga qiziq emas. Biz asosiy maqsadni ushbu ma'lumotlardan faqat mamlakatlarning baxtlilik darajalarinigina ajratib olishga qaratamiz.
Vazifa: Barcha ma'lumotlar to'plamlaridan faqat mamalakatlar (Country yoki Country or region), ularning baxtlilik darajasini (Happiness Rank, Happiness.Rank yoki Overall rank) va baholarini (Happiness Score, Happiness.Score yoki Score) ajratib oling. -->

# Barcha ma'lumotlar to'plamini kuzatgan bo'lsangiz, ba'zilarining ustunlari o'zgarib kelmoqda. Lekin bu bizga qiziq emas. Biz asosiy maqsadni ushbu ma'lumotlardan faqat mamlakatlarning baxtlilik darajalarinigina ajratib olishga qaratamiz.
# Vazifa: Barcha ma'lumotlar to'plamlaridan faqat mamalakatlar (Country yoki Country or region), ularning baxtlilik darajasini (Happiness Rank, Happiness.Rank yoki Overall rank) va baholarini (Happiness Score, Happiness.Score yoki Score) ajratib oling.

In [128]:
def extractor(dataframe):
    columns = ['Country', 'Country or region', 'Happiness Rank', 'Happiness.Rank', 'Overall rank', 'Happiness Score', 'Happiness.Score', 'Score']
    mask = [col for col in dataframe.columns if col in columns]
    return dataframe[mask]

dataframes = [data15, data16, data17, data18, data19]
data15, data16, data17, data18, data19 = [extractor(dataframe) for dataframe in dataframes]

In [129]:
data15.head()

       Country  Happiness Rank  Happiness Score
0  Switzerland               1            7.587
1      Iceland               2            7.561
2      Denmark               3            7.527
3       Norway               4            7.522
4       Canada               5            7.427

# Vazifa: Ma'lumotlarni ajratib olgan bo'lsangiz, unda e'tibor bering ba'zi yillardagi ma'lumotlarning ustunlari bir biridan farq qiladi. Ana endi bularning barchasini bir xil formatga keltirib olishimiz kerak. (data_15, data_16 larning ustunlaridek formatiga keltirib oling: Ya'ni Country, Happiness Rank va Happiness Score ketma-ketligida)

In [130]:
data18 = data18[['Country or region', 'Overall rank', 'Score']]
data19 = data19[['Country or region', 'Overall rank', 'Score']]

In [131]:
data18.columns

Index(['Country or region', 'Overall rank', 'Score'], dtype='object')

In [132]:
data19.columns

Index(['Country or region', 'Overall rank', 'Score'], dtype='object')

# Navbatdagi mashqimiz irarxik ustunlar haqida bo'ladi.
# Vazifa: Barcha ma'lumotlar to'plamini ustunlarini irarxik ko'rinishga keltirish kerak. Quyidagi rasmda 2015 yil uchun qanday ko'rinishda bo'lishi ko'rsatilgan. Qolganlarini mustaqil bajaring.

In [ ]:
dataframes = [ data15, data16, data17, data18, data19]
years = [ 2015, 2016, 2017, 2018, 2019]

for i in range(len(dataframes)):
    df = dataframes[i]
    year = years[i]
    df.columns = pd.MultiIndex.from_product([[year], df.columns])
    dataframes[i] = df

# Barcha ma'lumotlarni irarxik ustunlar ko'rinishiga keltirib olgan bo'lsangiz, unda navbatdagi mashqimizda ularni birlashtiramiz.
# Vazifa: Gorizantal o'q ko'rinishida barcha ma'lumotlar to'plamlarini birlashtiring (axis=1). Va natijaviy dataframe ustunlariga Years va Info deb nom bering.

In [139]:
final = pd.concat(dataframes, axis=1)
final

            2015                                        2016                 \
         Country Happiness Rank Happiness Score      Country Happiness Rank
0    Switzerland              1           7.587      Denmark            1.0
1        Iceland              2           7.561  Switzerland            2.0
2        Denmark              3           7.527      Iceland            3.0
3         Norway              4           7.522       Norway            4.0
4         Canada              5           7.427      Finland            5.0
..           ...            ...             ...          ...            ...
153       Rwanda            154           3.465  Afghanistan          154.0
154        Benin            155           3.340         Togo          155.0
155        Syria            156           3.006        Syria          156.0
156      Burundi            157           2.905      Burundi          157.0
157         Togo            158           2.839          NaN            NaN

                                         2017                                 \
    Happiness Score                   Country Happiness.Rank Happiness.Score
0             7.526                    Norway            1.0           7.537
1             7.509                   Denmark            2.0           7.522
2             7.501                   Iceland            3.0           7.504
3             7.498               Switzerland            4.0           7.494
4             7.413                   Finland            5.0           7.469
..              ...                       ...            ...             ...
153           3.360                   Burundi          154.0           2.905
154           3.303  Central African Republic          155.0           2.693
155           3.069                       NaN            NaN             NaN
156           2.905                       NaN            NaN             NaN
157             NaN                       NaN            NaN             NaN

                         2018                                          2019  \
            Country or region Overall rank  Score         Country or region
0                     Finland          1.0  7.632                   Finland
1                      Norway          2.0  7.594                   Denmark
2                     Denmark          3.0  7.555                    Norway
3                     Iceland          4.0  7.495                   Iceland
4                 Switzerland          5.0  7.487               Netherlands
..                        ...          ...    ...                       ...
153               South Sudan        154.0  3.254               Afghanistan
154  Central African Republic        155.0  3.083  Central African Republic
155                   Burundi        156.0  2.905               South Sudan
156                       NaN          NaN    NaN                       NaN
157                       NaN          NaN    NaN                       NaN


    Overall rank  Score
0            1.0  7.769
1            2.0  7.600
2            3.0  7.554
3            4.0  7.494
4            5.0  7.488
..           ...    ...
153        154.0  3.203
154        155.0  3.083
155        156.0  2.853
156          NaN    NaN
157          NaN    NaN

[158 rows x 15 columns]